* {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    /* border: 1px solid black; */
  }
  
  .horizontal-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    /* Additional styling like width, height, padding, etc. can be added as needed */
  }
  
  input{
    width: 100px;
  }